.button {
    display: flex;
    min-width: 216px;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    padding: 10px 32px 10px 32px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--add-color);
    background-color: var(--brand-color);
    border: none;
    &:hover,
    &:focus {
        font-family: 'Roboto', sans-serif;
        
            color: var(--add-color);
            background-color: var(--brand-color);
    }
}
