:root {
    --brand-color: #2196F3;
    --brand-color-alpha: #2196F3E5;
    --main-color: #000000;
    --icon-border: #212121;
    --modal-border: #21212133;
    --back-color: #757575;
    --background-color: #2F303A;
    --background-color-alpha: #2F303ACC;
    --icon-color: #AFB1B8;
    --hero-background: #C4C4C4;
    --border-color: #ECECEC;
    --filter-color: #EEEEEE;
    --specific-color: #F5F4FA;
    --add-color: #FFFFFF;
    --footer-text: #FFFFFF99;
    --footer-icons: #FFFFFF1A;

    --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}